body{
    margin: 0;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

/*CONTAINER*/
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 10px;
}
/*HEADER*/
.header{
height: 120px;

}
.inner-header{
    display: flex;
    justify-content: space-between;
}
.burger-menu{
    width:40px ;
    height: 30px;
    display: none;
    position: absolute;
    top: 10%;
    right:10%;
    z-index: 50;
}
.burger-menu:before,
.burger-menu:after{
    content:"";
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: block;
    position: absolute;
    z-index:1 ;
    transition: 0.5s;
}
.burger-menu:after{
    bottom: 0;
}
.burger-menu:before{
    top: 0;
}
.burger-menu.active:before{
    transform: rotate(45deg);
    top: 13px;
}
.burger-menu.active:after{
    transform: rotate(-45deg);
    bottom: 13px;
}


#burger{
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: block; 
    position: absolute;
    top:13px;
    z-index: 50;
}
#burger.active{
    display:none;
}

.burger-background{
    width: 100%;
    height: 100%;
    background-color: #e9b188;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 49;
    display: none;
}
    
.burger-background.active{
    top:0;
  }


.logo{
    margin-top: 40px;
    display: block;
    position: relative;
    z-index: 50;
}
.logo-tlt{
    font-size: 32px;
    font-weight: 300;
    color: #f1cdb3;
    margin:0 ;
}
.logo-subltl{
    font-size: 13px;
    
}
.nav{
    margin-top: 60px;
    display: block;
    position: relative;
    z-index: 50;
}
.nav-link{
    font-size:15px ;
    margin-right: 40px;
    color: #8e8d8e;
    display:inline-block;
}
.nav-link:last-child{
    margin-right: 0;
}
.nav-link:hover{
    color: #fff;
    transition:1s ;
}
.nav-link:after{
    content:"";
    display: block;
    width: 100%;
    height: 3px;
    background: #f1cdb3;
    opacity: 0;
    transition: 1s;
}
.nav-link:hover:after{
    opacity: 1;
}

/*INTRO*/
.intro{
    height: 925px;
    background: url(img/intro/intro.jpg) no-repeat center;
    background-size: cover;
}
.inner-intro{
    width: 100%;
    height: 600px;
    display: flex;
}
.intro-txt{
    height: 300px;
    display: block;
    position: relative;
    top: 200px;
    left: 0;
}
.intro-tlt{
    font-size: 44px;
    font-weight:300 ;
    line-height: 30px;
}
.intro-btn{
    width: 200px;
    height: 50px;
    background: #f1cdb3;
    color: #292929;
    cursor: pointer;
    border: 1px solid #f1cdb3 ;
    border-radius: 20px;
    margin-top: 40px;
    font-size: 17px;
    font-weight: 300;
}
/*PETS*/
.pets{
    height: 590px;
    background: #fff;
   
}
.pets-inner{
    height: 420px;
    display: flex;
    
    position: relative;
    top:90px;

}

.pets-item{
    width: 50%;
    color: #292929;
}
.pets-tlt{
    font-size: 35px;
    font-weight: 300;
    color: #545454;
    line-height: 10px;
}
.pets-txt{
    font-size: 15px;
    font-weight: 300;
    line-height: 10px;
}
.p-m{
    margin-top: 40px;
}

.pets-img{
    display: block;
    margin: 0 auto;
    object-fit: cover;
    max-width: 100%;
}
/*CARD*/
.card{
    height: 830px;
    background: #f6f6f6;
}
.card-inner{
    width: 100%;
    height: 700px;
    display: flex;
    position: relative;
    top:80px;
}
.card-tlt{
    color: #545454;
    font-size: 35px;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
    line-height: 10px;
    height: 70px;
    position: absolute;
    top: 0; 
    left: 30%;
    z-index: 1;
}

.card-slider{
    height: 430px;
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 25%;
    
}
.card-slider:last-child{
    margin-right: 0;
}

.items-sl{
    width: 33.333%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    background: #fafafa;
    margin-right: 50px;
    cursor: pointer;
}
.items-sl:hover{
box-shadow:7px 7px 7px 15px #e3e0e0;
}
#last{
    margin-right: 0;
}
.slider-img{
    object-fit: scale-down;
    width: 100%;
    height: 267px;
}
.itm-subtlt{
    font-size: 20px;
    font-weight: 300;
    color: #292929;
    margin: 0;
    display: inline-block;
    height: 10px;
    position: absolute;
    top: 70%;
    padding-left: 130px
}
/*card BUTTON*/
.card-btn{
    width: 185px;
    height: 50px;
    background: transparent;
    border: 3px solid #f1cdb3;
    border-radius:20px ;
    margin: 0 auto;
    margin-top: 50px;
    cursor: pointer;
}
.card-btn:hover{
    background: #f1cdb3;
    transition: 1s ;
}
.card-button{
    width: 265px;
    height: 50px;
    background: #f1cdb3;
    color: #292929;
    border: 3px solid #f1cdb3;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 35%;
    z-index: 1;
}
.card-button:hover{
    background: #fddcc4;
    transition: 0.5s;
   
}
/*arrow*/
.arrowl{
    width: 50px;
    height: 50px;
    color: #292929;
    border-radius: 100%;
    background:transparent;
    border: 3px solid #f1cdb3;
    position: absolute;
    top: 50%;
    left: -100px;
  
}
.arrowl:hover{
    background: #f1cdb3;
    transition: 1s ;
}
.arrowr{
    width: 50px;
    height: 50px;
    color: #292929;
    border-radius: 100%;
    background:transparent;
    border: 3px solid #f1cdb3;
    position: absolute;
    top: 50%;
    right: -100px;
}
.arrowr:hover{
    background: #f1cdb3;
    transition: 1s;
}
/*HELP*/
.help{
    height: 600px;
    background: #fff;
    display: flex;
}
.inner-help{
    height: 470px;
    width: 100%;
    display: flex;
    position: relative;
    top: 70px;
}
.help-tlt{
    color: #545454;
    font-size: 35px;
    font-weight: 300;
    line-height: 10px;
  
    text-align: center;
    height: 20px;
    position: absolute;
    left: 35%;
}


.items-help{
    height: 300px;
    display: flex;
    width:100%;
    position: relative;
    top:35%;
    flex-wrap: wrap;
    
}

/*help icon*/
.help-icon{
    height: 60px;
    fill: #f1cdb3;
    width: 20%;
    
}
.help-icon:hover{
    fill: #292929;
    transition: 1s;
}
#vita{
   position: relative;
   right:-100px;
}
/*DONATION*/
.donation{
    height: 440px;
    background: #f6f6f6;
    display: block;
}
.donation-inner{
    height: 300px;
    width: 100%;
    position: relative;
    top: 70px;
    display:flex ;
    justify-content: space-between;
}
.donat-item{
    width: 50%;
}
.donat-img{
    max-width: 100%;
    object-fit: cover;
}
.donat-tlt{
    color: #545454;
    font-size: 35px;
    font-weight: 400;
    line-height: 10px;
}
.bank{
    font-size: 15px;
    color: #545454;

}
.credit{
    width: 320px;
    height:45px;
    background: #f1cdb3;
    color: #292929;
    font-size: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}
.txt-donat{
    font-size: 12px;
    color: #d8d8d8;
    line-height: 5px;
    margin-top: 30px;
}
/*FOOOTER*/
.footer{
height: 365px;
background: url(img/footer/footer.jpg) no-repeat center;
background-size: cover;
}
.inner-footer{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    top: 40px;
}
.item-footer{
    width: 33.333%;
}

.contacts{
    width: 100%;
    height: 50px;
}
.icons-foot{
    width: 30px;
}



.fot-tlt{
    font-size: 35px;
    font-weight: 300;
    line-height: 10px;
}





.foot-img{
    max-width: 100%;
    object-fit: cover;
    
}
/*============MEDIA===========*/

@media(max-width:1400px){
.arrowr{
    right: -10px;
}
}
.arrowl{
    left: -50px;
}
@media(max-width:1200px){
    .arrowr{
       display: none;
    }
    }
    .arrowl{
        display: none;
    }
    @media(max-width:870px){
       /*intro*/
        .intro-tlt{
            font-size: 35px;
            line-height: 10px;
        }
        /*pets*/
        .pets-tlt{
            line-height: 12px;
        }
        /*donat*/
        .donat-tlt{
            font-size: 15px;
        }
        .credit{
            width:70% ;
            font-size: 15px;
        }
       
        /*footer*/
        .fot-tlt{
            font-size: 25px;
        }
    }
    @media(max-width:768px){
      /*header*/

      .burger-menu{
        display: block;
      }
      .burger-background{
        display: block;
        top: -100%;
        transition: 1s;
      }
      .burger-background.active{
        top:0;
      }
     
      .burger{
        display: block;
       }
       #burger.active{
        transform: scale(0);
       }
        .nav{
            display: grid;
            position: absolute;
            top: -100%;
            margin-top: 20px;
            transition: 1s;
        }
        .nav.active{
            top: 30%;
        }
        .nav-link{
            font-size: 30px;
            color: #fff;
            margin-top: 20px;
        }
       
       
       /*intro*/
        .intro{
        height: auto;
       }
        
       
       /*pets*/
       
       .pets-tlt{
        font-size: 25px;
        }
        .pets-txt{
            font-size: 12px;
        }
        /*slider*/
        #last{
            display: none;
        }
        .items-sl{
            margin-left: 70px;
        }
        .itm-subtlt{
            padding-left: 60px;
        }
        /*help*/
        .bank{
            font-size: 12px;
        }
        .credit{
            font-size: 10px;
        }
    }
    @media(max-width:617px){
        /*card*/
        .card-inner{
            top: 10px;
        }
        .card-tlt{
            font-size: 25px;
        }
        #jeni{
            display: none;
        }
        .items-sl{
            width: 100%;
        }
        .itm-subtlt{
            padding-left: 190px
        }
        .card-button{
            left: 30%;
        }
        /*help*/
        #vita{
            right: -50px;
        }
        .help-tlt{
            font-size: 25px;
        }
        /*donat*/
        .txt-donat{
            line-height: 10px;
        }
        /*footer*/
        .fot-tlt{
           font-size: 15px;
        }
    }
    @media(max-width:412px){
        /*pets*/
        .pets{
            height: 500px;
        }
        .pets-tlt{
            font-size: 15px;

        }
        .pets-txt{
            font-size: 10px;
        }
        /*card*/
        .itm-subtlt{
            padding-left: 100px;
        }
        .card-button{
            left: 20%;
        }
        .card-tlt{
            font-size: 20px;
        }
    }